STRINGTABLE
{
1589, "Mise nesplnìna"
1590, "Nesplnil jsi misi. Naber nové síly a zkus to znovu."
1593, "Všechny mise dokonèeny!"
1594, "Fantastické! Právì jsi dokonèil závìreènou misi!\n"
1595, "Ocenìní - Èervená krev!"
1596, "Ocenìní - Vodní ovce!"
1597, "Ocenìní - Ovèí ráj!"
1598, "Ocenìní - Božský mód!"
1599, "Ocenìní - Pomùcky!"
}
