STRINGTABLE
{
1605, "Pomùcky"
1606, "Gratulace!"
1607, "Gratulujeme vítìzi!\n"
1608, "Tvá hodnost je %s.\n"
1609, "Smùla"
1610, "Smùla, byl jsi poražen... Zkus to znovu!\n"
1611, "Za své výkony jsi byl odmìnìn %s medailí."
1612, "Hráè 1"
1613, "Èerv 1"
1614, "Èerv 2"
1615, "Èerv 3"
}
