STRINGTABLE
{
1648, "V tomto kole vítìzí èervené týmy.\n\n"
1649, "V tomto kole vítìzí modré týmy.\n\n"
1650, "V tomto kole vítìzí zelené týmy.\n\n"
1651, "V tomto kole vítìzí žluté týmy.\n\n"
1652, "V tomto kole vítìzí fialové týmy.\n\n"
1653, "V tomto kole vítìzí modrozelené týmy..\n\n"
1654, "Toto kolo konèí remízou.\n\n"
1655, "%s vyhrává zápas!\n\n"
1656, "Èervené týmy vyhrávají zápas!\n\n"
1657, "Modré týmy vyhrávají zápas!\n\n"
1658, "Zelené týmy vyhrávají zápas!\n\n"
1659, "Žluté týmy vyhrávají zápas!\n\n"
1660, "Fialové týmy vyhrávají zápas!\n\n"
1661, "Modrozelené týmy vyhrávají zápas!\n\n"
}
