STRINGTABLE
{
1700, "Pøipojení ke høe v roli pozorovatele."
1701, "Hostitel hry zvolil toto nastavení."
1702, "Zvol nastavení pro tuto hru."
1703, "Úprava nastavení zbraní."
1704, "Úprava nastavení hry."
1705, "Zobrazí nastavení zbraní."
1706, "Zobrazí nastavení hry."
1707, "Seznam týmù na tvém poèítaèi."
1708, "Hrát"
1709, "Zaène novou hru."
1710, "HRA PØERUŠENA"
1711, "Hostitel tì vylouèil ze hry."
}
