STRINGTABLE
{
1712, "V této høe již není místo pro tvùj tým."
1713, "Náhled právì zvolené mapy."
1714, "Levým tlaèítkem vygeneruješ novou mapu, pravým upravíš stávající."
1715, "Padají zbranì!"
1716, "Dodávka zásob."
1717, "Ihned zabezpeèit místa dopadu!"
1718, "Dodávka byla úspìšnì doruèena."
1719, "Železný orel je na cestì."
1720, "Dodávka byla úspìšnì doruèena."
1721, "Jsme v bezpeèí a všechno už je jenom na tobì!"
1722, "Bedny jsou tvou jedinou nadìjí..."
1723, "Nepøátelský letecký transport je na cestì."
1724, "Nepøátelský transport se blíží."
1725, "Už je skoro tady!"
1726, "Právì dorazil. Dostaò se k bednì a pak hodnì rychle uteè!"
1727, "Nemáš náboje? Tohle by mohlo pomoci."
}
