STRINGTABLE
{
1728, "Dej si pozor!"
1729, "Expresní dodávka!"
1730, "Zbranì úspìšnì pøedány!"
1731, "Nenech toto vybavení padnout do nesprávných rukou!"
1732, "Expresní zásilka!"
1733, "Smrt na objednávku"
1734, "Trocha uzdravení na cestì..."
1735, "Nìco co by vám mìlo pomoci, pane."
1736, "Požehnaná pomoc"
1737, "Trochu vèasné pomoci?\n"
1738, "Lékaøské vybavení odesláno."
1739, "Další pomocná ruka"
1740, "Trocha pomoci pro tebe"
1741, "Každá trocha se hodí."
1742, "Trochu osvíceného vysvobození"
1743, "Potøebuje tu nìkdo lékaøskou péèi?"
}
