STRINGTABLE
{
1744, "Je tohle tvá krevní skupina?"
1745, "Tak ij! Zatracenì, ij!"
1746, "Doktor!"
1747, "Atomová bomba je na cestì."
1748, "Èas je proti nám pane. Musíme jednat rychle!"
1749, "Vykuø je ven, jestli mùeš..."
1750, "Zásah meteoru nevyhnutelnı, rychle se zakopej!"
1751, "Ji je na cestì. Zásah je oèekáván za 5 minut!"
1752, "U není moc èasu, rychle, rychle..."
1753, "Bylo detekováno odpálení taktické nukleární rakety."
1754, "Varování! Hrozí zásah nukleární rakety!"
1755, "Na severním konci ostrova byly zaznamenány otøesy zemì."
1756, "Globální oteplování! Pozor na hladinu vody!"
1757, "Sna se nenamoèit!\n"
1758, "Rychle, a se k tobì nedostanou!"
1759, "Generál se snaí uprchnout!"
}
