STRINGTABLE
{
1760, "Ta radiace bude tvoje smrt!"
1761, "Rychle se dostaò až do oblak!"
1762, "Vylez na tu horu, ne na ten krtinec."
1763, "Rychle pryè od okrajù, brzy pøijde zemìtøesení!"
1764, "Kde je Noem, když ho tak potøebujeme?"
1765, "Je èas postavit ty pøístøešky."
1766, "Doufám, že máš dostateènou ochranu."
1767, "VAROVÁNÍ! Seismická aktivita, 7.2 na Richterovì stupnici!"
1768, "Jak to dopadlo s tím pìtiminutovým varováním?"
1769, "Globální vyhlazení!"
1770, "VAROVÁNÍ! Zlomová linie je tady!"
1771, "Pozor, tektonický pohyb!"
1772, "Na konci svìta bude noc!"
1773, "Den zúètování"
1774, "Nepøátelské síly se mobilizují!"
1775, "Raketa je tady!"
}
