STRINGTABLE
{
1776, "V pøíštím kole to už bude nepøítel brát vážnì."
1777, "Nepøítel je ozbrojen až po zuby!"
1778, "Vidìli tì, UTÍKEJ!"
1779, "Embargo na nepøátelské zbranì bylo ukonèeno."
1780, "Možná tì èekají potíže..."
1781, "Konflikt se vyostøuje."
1782, "Zniè je všechny, vojáku!"
1783, "Válka je peklo."
1784, "Radìji kopej hodnì hluboko!"
1785, "Ve smrti JE èest."
1786, "Použij temnou stranu!"
1787, "Zajisti oblast!"
1788, "Kopej dolù a kopej hluboko."
1789, "To ovoce už dozrálo, a je na èase jej posbírat!"
1790, "Nezapomeò sbírat bedny, abys rozšíøil svùj arzenál."
1791, "Náøadí by se teï hodilo."
}
