STRINGTABLE
{
1792, "Teï by se opravdu hodila první pomoc."
1793, "Budeš muset použít lano..."
1794, "Zvaž použití nìkolika trámù jako ochrany."
1795, "Musíš zahájit støelbu."
1796, "Nezapomeò, že i na lanì mùžeš odhazovat pøedmìty!"
1797, "Nauè se využívat opakovaného nadhození lana!"
1798, "Nauè se všechny skákací techniky."
1799, "Zpìtný skok tì dostane ještì výše."
1800, "Dobøe sleduj nepøátelské jednotky a jejich taktiku."
1801, "Jednej rychle, mysli s pøedstihem."
1802, "Skunkové se mohou dostat i do míst, kam se žádná jiná zbraò nedostane."
1803, "Zbranì mohou být pøi výstøelu posunuty nahoru i dolù."
1804, "Nìkdy se øešení mise ukrývá v bednì."
1805, "Trámy mùžeš umístit i v pøípadì, že se právì houpeš na lanì."
1806, "Potøebuješ pomoc? Zkus použít šíp nebo dva..."
1807, "Trám mùže být tvou poslední obrannou linií."
}
