STRINGTABLE
{
1808, "Zvíøata a staré eny mohou jít nakupovat."
1809, "Padák nezpomalí tvùj pád, ale lze jej ovládat."
1810, "Nezapomeò, e máš k dispozici padák."
1811, "Bedny a exploze nejdou dohromady."
1812, "Nálety budou efektivnìjší, pokud je správnì nasmìruješ."
1813, "Krtci rádi hrabou smìrem dolù a také mají sklony k explozím."
1814, "Dobøe umístìnı dynamit vyene z úkrytu i toho nejtvrdohlavìjšího èerva."
1815, "Vítr ovlivòuje dráhu nìkterıch zbraní. Tak pozor, a nestojíš po vìtru."
1816, "Odhadni úèinky vìtru, a pak u jen pouij svou bazuku!"
1817, "Pøebyteèní èervi mohou bıt vıbornou návnadou."
1818, "Støílej také do barelù. I ty mohou bıt smrtící."
1819, "Tato bedna by mohla bıt ivotnì dùleitá!"
1820, "Trámy mohou pomoci granátùm dosáhnout jejich cíle."
1821, "Vodní ovce vodu pøímo miluje."
1822, "Pospìš si, èas nám pomalu konèí."
1823, "Radìji si pospìš. U nezbıvá mnoho èasu."
}
