STRINGTABLE
{
1824, "Rychle! Voda stoupá!"
1825, "Tady je nìco, co ti pomùže."
1826, "Pokud máš potíže, použij toto."
1827, "Mysleli jsme si, že bys tohle mohl ocenit."
1828, "Zdá se, že potøebuješ pomoc, nováèku."
1829, "Tohle se bude hodit."
1830, "Potøebuješ pomoc..."
1831, "Zkus tohle."
}
