STRINGTABLE
{
352, "Zpìt"
353, "Návrat do pøedchozího menu"
354, "Zvolený tým"
355, "Rekord týmu:"
356, "Právì zvolený tým"
357, "Aktuální rekord pro tento tým v této disciplínì"
358, "Kasárna"
359, "Vytvoøit tým"
360, "Vytvoøí nový tým."
361, "Mapa"
362, "Deathmatch detaily"
364, "Zobrazuje tvou hodnost."
365, "Týmy"
366, "Kasárna"
367, "Klikni pro vytvoøení nového týmu."
}
