STRINGTABLE
{
4000, "Cheaty"
4001, "Bedna s chmýøím "
4002, "Krvavý útok"
4003, "Nezranitelnost"
4004, "Vylepšené ovce"
4005, "Svobodný mód"
4006, "Neznièitelný terén!"
4007, "Síla ananasu"
4008, "12hlavòová brokovnice"
4009, "Hodný obchodník"
4010, "Robin Hood"
4011, "Všechny bedny budou obsahovat naše ochmýøené pøátele."
4012, "Zasažení èervi budou krvácet."
4013, "Èervi budou nezranitelní jakýmkoliv útokem s výjimkou pádu do vody."
4014, "Vylepší super ovce na vodní ovce, které mohou kromì létání i plavat."
4015, "Hra s neomezeným množstvím nástrojù pro volbu èerva."
}
