STRINGTABLE
{
4100, "Zkus to ještì jednou...\n"
4101, "Zkus to znovu.\n"
4102, "Smùla - zkus to znovu.\n"
4103, "Nepropadej panice, teï už to urèitì zvládneš.\n"
4104, "Dokaž, že to zvládneš!\n"
4105, "Jdi na to, vojáku!\n"
4106, "Zkus to znovu, ale tentokrát se více snaž.\n"
4107, "Zase ty?\n"
}
