STRINGTABLE
{
400, "Svatý granát"
401, "Stará žena"
402, "Šílená kráva"
403, "Super ovce"
404, "Navádìný holub"
405, "Plamenomet"
406, "Krtkova bomba"
407, "Odpalovaè ovcí"
408, "Bazuka - novì koupená v místním supermarketu"
409, "Navádìná raketa - nemìla by chybìt v žádné domácnosti"
410, "Granátomet - Mìsto šrapnelù"
411, "Ruèní granát - standardní verze"
412, "Støepinová bomba - hrstka výbušného potìšení"
413, "Skunkova bomba - nevoní moc hezky!"
414, "Benzínová bomba - oblíbená ve mìstech"
415, "Banánová bomba - výbušné mìkké ovoce"
}
