STRINGTABLE
{
4304, "Potvrï, e jsi pøipraven pokraèovat."
4305, "Pøipraven"
4306, "Konec"
4307, "Ukonèí aktuální hru."
4308, "Odstraní hráèe ze hry."
4309, "Zprávy od ostatních hráèù v této høe"
4310, "Sem napiš zprávy, které chceš poslat ostatním hráèùm."
4311, "%s je nyní ve vedení."
4312, "Hrát znovu"
4313, "Další hra se stejnımi hráèi"
4314, "Konec"
4315, "Odchod ze hry"
}
