STRINGTABLE
{
416, "Pistol - jdeme na to"
417, "Brokovnice - dvì hlavnì, dvojnásobná zábava"
418, "Uzi - Uzi 9mm!"
419, "Kulomet - není ani zdaleka tak malı, jak vypadá"
420, "Dlouhı luk - Robin kdo?"
421, "Leteckı útok - Déš smrti"
422, "Napalmovı nálet - hotová apokalypsa!"
423, "Mina - dávej si na nì pozor!"
424, "Rána pìstí - poøádná pecka do brady"
425, "Draèí koule - vyvolej starobylou energetickou kouli!"
426, "Dloubnutí - malı úder s velkımi následky"
427, "Sekera - jednou ranou z nìj udìláme dva"
428, "Autogen - oblíbená zejména u ubohé temné strany"
429, "Pneumatická vrtaèka - vrtej nebo zabij!"
430, "Trám - most nebo bariéra? Volba je tvá"
431, "Lano ninjù - zvládnutí lanové techniky ti vynese velké odmìny"
}
