STRINGTABLE
{
432, "Padák - pøiprav se na velké pády"
433, "Bungee - extrémní sport!"
434, "Teleport - neexistuje lepší zpùsob cestování"
435, "Dynamit - rodinný oblíbenec"
436, "Ovce - starý známý výbušný savec"
437, "Baseballová pálka - odpal pøímo z bojištì"
438, "Plamenomet - plameny stráví vše"
439, "Navádìný holub - je sice trochu hloupý, ale také moc užiteèný"
440, "Šílená kráva - èerstvì dovezená z Velké Británie"
441, "Svatý granát - lordy preferovaná zbraò"
442, "Stará žena - tvoje babièka bude koneènì k nìèemu dobrá"
443, "Odpalovaè ovcí - pošli svou ovci do dalekých krajù"
444, "Super ovce - létající ovce"
445, "Eskadra krtkù - dokopej se k vítìzství!"
446, "Kamikadze - smrt nebo sláva?"
447, "Zde zadej své heslo"
}
