STRINGTABLE
{
49136, "Trámy a ovce"
49137, "\n\nMáš 50 sekund na znièení 2 cílù s použitím granátù.\n\nNezapomeò správnì používat èasové zpoždìní výbuchu.\n\nGranáty nejsou ovlivnìny vìtrem."
49138, "\n\nMáš 60 sekund na to, abys trefil všech 6 cílù."
49139, "\n\nMáš 40 sekund na znièení všech cílù.\n\nStøely z bazuky jsou ovlivnìny vìtrem."
49140, "\n\nPoužij lano k pøekonání celého bojištì. Po cestì seber bednu a zniè cíl.\n\nVše musíš splnit bìhem jednoho tahu.\n\nNauè se správnì používat opakovaného švihu lana."
49141, "\n\nMáš 60 sekund na znièení všech cílù."
49142, "\n\nV tomto cvièení se nauèíš alternativnímu využití rùzných zbraní a novým metodám skákání.\n\nMáš 50 sekund na znièení všech cílù."
49143, "\n\nMáš 60 sekund na znièení cíle.\n\nS použitím lana získej zbraò, tu pak použij v cílové oblasti."
49144, "\n\nMáš 60 sekund na znièení všech cílù.\n\nNezapomeò, že dráha letu bazuky je ovlivnìna vìtrem. V tomto cvièení budeš muset použít jeden malý-známý trik...\n\nTip! Bìhem 2. svìtové války mìla britská armáda skákavou bombu."
49145, "\n\nMáš 99 sekund na znièení cílù s použitím granátù.\n\nNezapomeò správnì používat èasové zpoždìní výbuchu.\n\nGranáty nejsou ovlivnìny vìtrem."
49146, "V tomto cvièení musíš postavit pontonový most pøes obrazovku tak, abys mohl vyslat ovci, která pak srazí tvùj cíl do vody.\n\nNa toto cvièení máš 60 sekund."
49147, "Nedokonèil jsi toto cvièení, tedy ani základní trénink. Musíš se o to pokusit znovu."
49148, "Smùla, nedokonèil jsi toto cvièení a základní trénink pro tebe konèí.\n\nZkus to znovu a tentokrát se více snaž."
49149, "Gratulujeme!\n\nByl jsi odmìnìn bronzovou tréninkovou medailí.\n\nDíky tomu se nyní mùžeš pokusit o nìkolik prvních misí."
49150, "Vynikající, tvé dovednosti ti vynesly støíbrnou tréninkovou medaili. Díky ní máš nyní pøístup k dalším misím."
49151, "Výbornì vojáku!\n\nPrávì jsi dokonèil celý tréninkový program.\n\nNyní máš pøístup ke všem misím.\n\nHodnì štìstí!"
}
