STRINGTABLE
{
49152, "Pro zaèáteèníky zde není ádné místo.\n\nPro pøístup k misím musí tvùj tım získat alespoò bronzovou tréninkovou medaili.\n\nJdi do menu Trénink a získej zde alespoò bronzovou medaili."
49153, "Domníváme se, e mise, kterou se snaíš spustit, by mohla bıt nad tvé schopnosti. Abys nám dokázal opak, musíš získat alespoò støíbrnou tréninkovou medaili.\n\nJdi tedy do menu trénink a získej alespoò støíbrnou medaili."
49154, "Je chvályhodné, e se pokoušíš o tak obtínou misi, ale pøístup k ní mají pouze dritelé zlaté tréninkové medaile.\n\nVra se zpìt, a ji získáš."
49155, "Informace o misích"
49156, "Mise"
49157, "Informace o tımu"
49158, "Název tımu"
49159, "Jméno èerva 1"
49160, "Jméno èerva 2"
49161, "Jméno èerva 3"
49162, "Jméno èerva 4"
49163, "Jméno èerva 5"
49164, "Jméno èerva 6"
49165, "Jméno èerva 7"
49166, "Jméno èerva 8"
49167, "Vyhráno her"
}
