STRINGTABLE
{
5104, "[ Armageddon ]"
5105, "[ Výbušná zóna ]"
5106, "[ Náhlé záplavy ]"
5107, "[ Turnaj ]"
5108, "[ Retro ]"
5109, "[ Strategie ]"
5110, "[ Temná strana ]"
5111, "[ Dìlostøelectvo ]"
5112, "[ Maximální škody ]"
}
