STRINGTABLE
{
512, "Kanada"
513, "Chorvatsko"
514, "Bosna"
515, "Kypr"
516, "Èesko"
517, "Dánsko"
518, "Finsko"
519, "Francie"
520, "Gruzie"
521, "Nìmecko"
522, "Øecko"
523, "Hong Kong"
524, "Maïarsko"
525, "Island"
526, "Indie"
527, "Indonésie"
}
