STRINGTABLE
{
528, "Irán"
529, "Irák"
530, "Irsko"
531, "Izrael"
532, "Itálie"
533, "Japonsko"
534, "Lichtenštejnsko"
535, "Lucembursko"
536, "Malajsie"
537, "Malta"
538, "Mexiko"
539, "Maroko"
540, "Nizozemí"
541, "Nový Zéland"
542, "Norsko"
543, "Polsko"
}
