STRINGTABLE
{
544, "Portugalsko"
545, "Portoriko"
546, "Rumunsko"
547, "Rusko"
548, "Singapur"
549, "Jihoafrická republika"
550, "Španìlsko"
551, "Švédsko"
552, "Švýcarsko"
553, "Turecko"
554, "Spojené státy Americké"
}
