STRINGTABLE
{
6000, "Jeden z nejvyšších nepøátelskıch generálù pøipravuje na své základnì ïábelskı plán naší likvidace.\n\nDíky vızvìdné slubì známe polohu jeho základny. Ty se tam musíš vypravit a zavradit ho døíve, ne staèí uskuteènit své plány.\n\nNepøítel nepochybnì zachytil tuto zprávu, take bude na tvùj pøíchod dobøe pøipraven. Buï tedy velmi opatrnı."
6001, "Tvoji vojáci se dostali do nepøátelské zásobovací zóny.\n\nObsaï celou oblast a získej co nejvíce zbraní.\n\nPostupuj rychle a pozornì sleduj èas, nebo celou oblast brzy vyhodíme do vzduchu."
6002, "Díky tvému úspìchu v pøedchozí misi je nyní nepøítel v defenzívì.\n\nTvá omezená zásoba zbraní by mìla staèit na jeho likvidaci. V prùbìhu mise navíc oèekávej další zásoby.\n\nAèkoliv máš pøevahu, nepodceòuj schopnosti nepøítele."
6003, "Po pøíchodu na bojištì zjistíš, e nepøítel se v tomto místì dùkladnì zakopal a obrnil.\n\nPouij zbranì, které byly shozeny na bojištì ještì pøed tvım pøíchodem k likvidaci nepøítele a zastavení jeho produkce chemickıch zbraní.\n\nDávej pozor na biologické zamoøení!\n\nMusíš vyøadit nepøítele z boje ... na trvalo!"
6004, "Naši informátoøi zjistili, e se nepøítel chystá obnovit svou teroristickou kampaò. Prvním cílem by mìl bıt proslulı mìstskı funkcionáø, jen má pro nás nesmírnou politickou cenu. Bohuel tento teroristickı útok má pøijít právì v dobì, kdy je oblast bombardována úlomky komety, která si zvolila za místo dopadu právì naše mìsto.\n\nPøíští dopad úlomkù se oèekává pøiblinì za 5 minut.\n\nTvım nepøítelem tedy bude i èas. Zachraò politika a vyèisti celou oblast od nepøátel, abychom mohli co nejdøíve zaèít s evakuací."
6005, "Pro tuto misi budeš potøebovat notnou dávku dovednosti a lstivosti.\n\nTvım úkolem je navést své parašutisty pøímo do nepøátelskıch øad, a co nejrychleji je eliminovat.\n\nZabezpeè celou oblast a zniè všechny nepøátele."
6006, "Nová experimentální zbraò bude v bednì dopravena do oblasti na této mapì.\n\nZdejší vrchol pyramidy byl døíve dùleitım místem pro shazování materiálu a vybavení. Doporuèujeme ti co nejrychleji zabezpeèit právì tuto oblast.\n\nBudeme prùbìnì monitorovat vzdušnı prostor a pøed dodávkou cílové bedny tì budeme vèas informovat."
6007, "Dostaò se a na vrchol kopcù, a získej tam tolik potøebné zbranì. Ty pak pouij k likvidaci nepøátelského kapitána.\n\nBuï však opatrnı, nebo jeho mui ho budou velmi dobøe chránit."
6008, "Tato mise pro tebe moná bude matematickou noèní mùrou. Všechny ty úhly a promìnné snadno demoralizují i toho nejlepšího èerva.\n\nS trochou vytrvalosti a štìstí však nakonec jistì dosáhneš vítìzství.\n\nNeztrácej èas a jdi hned na to. Tøí minutovı èasovı limit právì zaèíná."
6009, "V této misi máš k dispozici jednoho èerva, kterı má neomezenou zásobu nábojù do brokovnice.\n\nJsi omezen èasovım limitem, take co nejrychleji zniè všechny nepøátele a dostaò se do bezpeèí.\n\nNyní se ti bude hodit ten trénink míøení, pøi kterém jsi strávil tolik èasu.\n\nTrénoval jsi, e? Doufám, e ano..."
6010, "Tvım cílem je znièit všechny nepøátelské èervy.\n\nSleduj dodávky novıch zbraní. Nezùstávej na okraji útesù, nebo v této oblasti jsou oèekávána zemìtøesení. Budeme se snait tì na nì upozornit s pøedstihem.\n\nZaèínáš se dvìma èervy a nejsi omezen ádnım èasovım limitem. Nemusíš tedy nikam spìchat, ale nepøítel tì jistì nenechá dlouho odpoèívat..."
6011, "Vzdorováním gravitaci tuto malou misi pravdìpodobnì nevyøešíš.\n\nNepøítel je rozmístìn okolo cíle této mise - krabice s mocnou zbraní, která celı tento konflikt rychle ukonèí."
6012, "Pro dokonèení této mise bude nutnı smìlı a velmi odvánı pøístup.\n\nZískej co nejvíce zbraní, tak aby ses nakonec probojoval a k tajné zbrani v levé dolní èásti bojištì.\n\nÚspìch v této misi mùe bıt rozhodující pro celou válku."
6013, "Tato mise pro tebe moná bude znaènì obtíná.\n\nKlíèem k úspìchu jsou zde hbité reflexy a rychlé pøemıšlení.\n\nTví nepøátelé jsou zde velmi ostraití, take èas pro pohyb ti byl zkrácen na minimum.\n\nBudeme se snait ti pomoci alespoò dodávkou zbraní a vybavení.\n\nZniè všechny nepøátele a dostaò se do bezpeèí."
6014, "V této misi musíš znièit bednu, která je chránìna nepøátelskımi èervy.\n\nBedna obsahuje smrtící zbraò, kterou nepøítel vyvinul.\n\nZaèínáš se zmrzaèenım èervem, kterı navíc není zvyklı na zdejší terén.\n\nNa splnìní mise máš pouze 3 minuty. "
6015, "Nepøátelská frakce obsadila základnu u jednoho z našich nejdùleitìjší monumentù.\n\nVláda této oblasti tì naléhavì ádá, abys pouil své dovednosti a znalosti taktiky k odstranìní nepøátelské frakce.\n\nVelitel nepøátel se jmenuje Generál - právì on je tvım hlavním cílem.\n\nPo jeho likvidaci se ostatní nepøátelé sami vzdají."
}
