STRINGTABLE
{
6016, "První fáze této mise se vùbec nepovedla, nebo naše zbranì byly shozeny pøímo do rukou nepøítele.\n\nTvoji èervi tak nyní mají k dispozici pouze minimum zbraní krátkého dostøelu a pár nástrojù. To jim musí staèit k likvidaci nepøítele a získání beden.\n\nNepøítel umístil naše zbranì na místo, které povauje za bezpeèné.\n\nJe jen na tobì, abys i s minimálním vybavením dokázal, e bezpeèné ani zdaleka není."
6017, "Konflikt se ji vyhrotil natolik, e je velkı nedostatek zásob a zbraní.\n\nNyní tak máme k dispozici pouze jednu spolehlivou zbraò.\n\nBazuka však stále má jeden nebo dva triky v rukávu, tak se sna je vyuít naplno, a pošli nepøítele do pekel."
6018, "Èlen nepøátelského elitního vedení se ukrıvá na této mapì s vírou, e jej naši vojáci nemohou dostat.\n\nTo povaujeme za uráku naší armády. Pouij zbranì, které jsme ti dodali, a uka nepøíteli, co dovede naše armáda.\n\nTím jednou provdy dokáeš, e naše armáda je nejlepší a e by ji ádnı nepøítel ji nikdy nemìl podceòovat."
6019, "Naše informace o tomto bojišti jsou znaènì kusé.\n\nKadı náš pokus o prùzkum se zde setkal s nekompromisní nepøátelskou palbou.\n\nVìøíme, e by se zde mohla nacházet menší zásoba zbraní nového typu.\n\nNajde je, a pouij k rozhodujícímu úderu."
6020, "Tvım cílem je eliminovat všechny nepøátelské èervy.\n\nMáš jen jediného èerva.\n\nMusíš postupovat rychle a s rozmyslem.\n\nPouij omezené zásoby, které máš, jak nejlépe dovedeš.\n\nNa splnìní úkolu máš 5 minut. Potom zaène bıt mapa pomalu zaplavována.\n\nBuï opatrnı!"
6021, "V této misi musíš získat speciální zbranì z beden, které se nacházejí v pravé èásti mapy.\n\nMáš k dispozici pouze jednoho èerva a omezenou zásobu zbraní.\n\nPro pøekonání min pouij lano a trámy.\n\nBuï opatrnı, nebo zemìtøesení zde mùe pøijít kdykoliv."
6022, "Léèka!\n\nPodaøilo se nám zahnat nepøítele do léèky. Vyuij momentu pøekvapení k svému prospìchu a rozdr všechny nepøátele.\n\nBìhem boje ti budeme pomáhat shazováním dalších zásob.\n\nJe to boj o pøeití.\n\nEliminuj nepøítele, nebo budeš eliminován sám."
6023, "Velení nad touto misí ti bylo pøedáno ve chvíli, kdy je situace ji zcela kritická.\n\nNaše komando získalo dùleité informace z nepøátelské ponorky, ale následnì ztratilo svého velitele, nyní potøebuje tvou pomoc.\n\nNepøítel se pøibliuje,  mnohem vìtším nebezpeèím zde však bude pøíliv. Voda ji zaèíná pomalu stoupat.\n\nMusíš se rychle dostat do bezpeèí!"
6024, "Pro úspìch v této misi bude tøeba velmi pøesné mušky a správného pouití oveèek.\n\nMunici si zde mùeš doplnit z beden, které jsou roztroušené po celé oblasti.\n\nBuï velmi opatrnı, nebo tì èeká opravdu tvrdı boj.\n\nPøiprav se na nejhorší!"
6025, "Tato mise po tobì ji vyaduje znaènou dovednost, nebo se budeš muset pohybovat nebezpeènou jeskyní, pøièem budeš mít k dispozici pouze jednu zbraò.\n\nTvùj pøítel pak získá další zbraò, která je nezbytná pro úspìšnou likvidaci nepøátel."
6026, "Agent Dennis padl do léèky. Nepøítel vyèlenil na jeho likvidaci malé komando.\n\nAèkoliv je tento agent ve vıborné fyzické kondici, nepatøí zrovna k nejinteligentnìjším èervùm.\n\nPouij veškerou svou obratnost a lstivost k jeho bezpeènému návratu domù."
6027, "Vojáci, které jsme vyslali zachránit našeho zajatého vìdce, porušili rádiovı klid a ádají instrukce pro finální fázi své mise.\n\nPrávì ty nyní povedeš tyto vojáky.\n\nNáš vìdec musí za kadou cenu pøeít.\n\nTento úkol se ti mùe zdát jednoduchı, ale nepøítel je ji na cestì a bude se snait ti za kadou cenu zabránit v útìku."
6028, "Získej tajnou bednu, kterou zde nepøítel støeí. Bedna obsahuje zbraò, je je klíèová pro jednu z budoucích misí. Dávej si pozor na zaminovanou oblast.\n\nNejsi omezen ádnım èasovım limitem, ale pøesto ti doporuèujeme spìchat..."
6029, "Zrádce poaduje vıkupné, jinak vyhodí do vzduchu jiní pól zemì.\n\nPokud zde chceš uspìt, musíš jednat rychle a rozhodnì.\n\nJi nezbıvá mnoho èasu a navíc se v této zónì dá oèekávat nepøátelskı útok.\n\nMusíš najít správnou zbraò, která ti pomùe dosáhnout vítìzství... Moná e i nìjaké náøadí se zde bude hodit.\n\nZabij zrádce, obnov poøádek a zabraò kalamitì!"
6030, "V opuštìném vlakovém depu nehybnì stojí lokomotiva. Tuto lokomotivu povaují za svùj majetek naši nepøátelé.\n\nVedle vraku lokomotivy se také nachází bedna, která obsahuje nevídanou destruktivní sílu. Pouij tedy speciálnì vycvièeného špionáního èerva k získání této bedny a dodej tak našim vìdcùm z vızkumného centra novou hraèku."
6031, "Na naši základnu pronikl nepøátelskı agent. Ukradl zde dùleité pásky, které uloil je do meteorologického balónu. Ten bude brzy vyzvednut nepøátelskım letadlem.\n\nNaštìstí se nám podaøilo balón vystopovat a navíc jsme zjistili, e nepøíteli nejde vše podle plánu.\n\nBalón teï pomalu klesá dolù - brzy zcela spadne do oceánu.\n\nZabraò pádu bedny pomocí trámù, a pak ji získej zpìt."
}
