STRINGTABLE
{
6032, "Utíkej do kopcù.\n\nVoda je ti už pomalu po kolena a Noe není nikde k nalezení.\n\nMusíš správnì zkombinovat své zbranì a nástroje.\n\nDoporuèujeme ti použít kombinaci lan a trámù. To by ti mìlo pomoci se co nejrychleji dostat do bezpeèí u stropu jeskynì."
}
