STRINGTABLE
{
6200, "Vrah na zámku"
6201, "V knihovnì je klid?"
6202, "Operace zelináøství"
6203, "Chemická válka"
6204, "Odpoèet do armageddonu"
6205, "Výsadková zóna"
6206, "Písek v tvém oku"
6207, "Jurský èerv"
}
