STRINGTABLE
{
6208, "Miø dlouho, miø správnì"
6209, "Velká støela"
6210, "Hømìní na dvoøe"
6211, "Jdìte banány, jdìte!"
6212, "Bomba s rohy"
6213, "Šílené krávy"
6214, "Hvìzda Marsu"
6215, "Potíže na hoøe Wormore"
6216, "Ukradené zboží"
6217, "Bazuka na skalách"
6218, "Vodní pøekvapení"
6219, "Horké zboží"
6220, "Potápìjící se ledovec"
6221, "Problémy s dýnìmi"
6222, "Hloupé pøepadení"
6223, "Žádná náhrada"
}
