STRINGTABLE
{
6224, "Ovèí boty"
6225, "Zachrání nás super ovce!"
6226, "Záchrana agenta Dennise!"
6227, "Potíže v hraèkáøství"
6228, "Nikde žádné houby...  "
6229, "Studený jako led"
6230, "Lokomotiva"
6231, "Záchrana pøeludu?"
6232, "Kdo zapomnìl zavøít stavidlo?"
}
