STRINGTABLE
{
704, "Polní maršál"
705, "Generál"
706, "Granátník"
707, "Strážce"
708, "Major"
709, "Tajný agent"
710, "Hlídka"
711, "Ostøelovaè"
712, "Kanonýøi"
713, "Komando"
714, "Elita"
715, "Nepøítel"
716, "Strážce"
717, "Støelci"
718, "Dùstojníci"
719, "Hlídky"
}
