STRINGTABLE
{
9000, "Vítej ve høe WORMS ARMAGEDDON!\nNejtemnìjší hodinì hratelnosti!\n\nCopyright 1998 Team17 Software Limited.\nVšechna práva vyhrazena.\nDistribuuje MicroProse Ltd.\n\nPro spuštìní hry stiskni libovolnou klávesu nebo tlaèítko myši."
}
