STRINGTABLE
{
1242, "Hodnost"
1243, "Název týmu"
1244, "Body"
1245, "Levým kliknutím pøidáš tým do hry, pravým upravíš jeho vlastnosti."
1246, "Levým kliknutím odebereš tento tým ze hry."
1247, "Mise"
}
