STRINGTABLE
{
96, "Zvolí fanfáru, kterou bude tvùj tým používat."
97, "Zvolí speciální zbraò, kterou bude tvùj tým používat."
98, "Smaže tento tým."
99, "Právì upravované nastavení"
100, "Ano"
101, "Ne"
102, "Zrušit"
103, "OK"
104, "Nahrát"
105, "Zvolí vlajku tvého týmu."
106, "Uložit"
107, "Uživatelský"
108, "*** STANDARDNÍ ***"
109, "Standardní"
110, "Náhrobek"
111, "Pøehraje fanfáru, kterou bude tvùj tým používat."
}
