STRINGTABLE
{
1268, "Levým tlaèítkem vybereš tým pro trénink, pravým upravíš jeho vlastnosti."
1269, "Nejlepší èas v závodu super ovcí"
1270, "Nejlepší èas na støelnici"
1271, "Nejlepší èas v šílených bednách"
1272, "Nejlepší èas v dìlostøelecké støelnici"
1273, "Nejlepší èas v eutanazii"
1278, "Klikni na svùj tým pro jeho vyøazení."
1279, "Týmy zapsané do hry."
}
