STRINGTABLE
{
1286, "Pøevrátí celou mapu."
1287, "Zapne èi vypne neznièitelný okraj mapy."
1288, "Vytvoøí tunelový systém na mapì."
1289, "Vytvoøí jámy na mapì."
1290, "Importuje uživatelskou mapu."
1291, "Zobrazí náhled této mapy."
1292, "Levý tlaèítkem zvìtšíš velikost štìtce, pravým tlaèítkem ji zmenšíš."
1293, "Vrátí tì do editaèního módu"
1294, "Levým tlaèítkem smažeš celou mapu, pravým tlaèítkem ji celou zaplníš pùdou."
1295, "Levým tlaèítkem zaplníš celou mapu pùdou, pravým tlaèítkem ji celou smažeš."
}
