STRINGTABLE
{
1296, "Vrátí zpìt poslední provedenou zmìnu."
1297, "Zvol mapu, kterou chceš nahrát, nebo zadej kód mapy."
1298, "Uloí tuto mapu."
1299, "Smae tuto mapu."
1300, "Levım tlaèítkem zvıšíš poèet mostù na této mapì, pravım tlaèítkem jej snííš."
1301, "Levım tlaèítkem zvıšíš poèet objektù na této mapì, pravım tlaèítkem jej snííš."
1302, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1303, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1304, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1305, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1306, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1307, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1308, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1309, "Levım tlaèítkem vygeneruješ novou mapu, pravım tlaèítkem ji upravíš."
1310, "Kliknutím èi taením myši mùeš upravit vıšku vody."
1311, "Levé tlaèítko kreslí, pravé tlaèítko mae."
}
