STRINGTABLE
{
1344, "Tyto ikonky generují venkovní mapy."
1345, "Tyto ikonky generují vnitøní mapy."
1346, "Zde se zobrazuje nápovìdný text."
1347, "PØEDLOHY VENKOVNÍ"
1348, "PØEDLOHY VNITØNÍ"
1349, "Prosím èekej... pracuji..."
1350, "Mìním velikost obrázku, prosím èekej..."
}
