STRINGTABLE
{
1392, "Umožòuje zmìnit nastavení tvého serveru."
1393, "Zpìt"
1394, "Prosím, zadej své pøihlašovací údaje"
1395, "Uživatelské jméno"
1396, "Heslo"
1397, "Login"
1398, "Hra"
1399, "Seznam všech dostupných her. Ke høe se pøipojíš dvojklikem na její název."
1400, "Zde se zobrazuje text chatu."
1401, "Poslat"
1402, "Odešle napsanou zprávu."
1403, "Seznam hráèù dostupných pro hru"
1404, "Obnovit seznamy"
1405, "Obnoví seznamy her a hráèù."
1406, "Hostování hry"
1407, "Název sloužící k identifikaci tvé hry"
}
