STRINGTABLE
{
1504, "VENOM"
1505, "Královna"
1506, "Princ Charles"
1507, "Princ Andrew"
1508, "Prince Of Persia"
1509, "Královna Matka"
1510, "Henry IIX."
1511, "Král Canute"
1512, "Sal"
1513, "Lambo"
1514, "Zelda"
1515, "Boggy B"
1516, "Spadge"
1517, "Satan"
1518, "Rob"
1519, "PC"
}
