STRINGTABLE
{
1520, "Randalism"
1521, "Vinny Jones"
1522, "Cilla Black"
1523, "Old Spice"
1524, "George Graham"
1525, "Bob Monkhouse"
1526, "Alex Ferguson"
1527, "Vera Lynn"
1528, "Spotty Spice"
1529, "El Presidente"
1530, "The Intern"
1531, "Tony Blair"
1532, "Maggie T"
1533, "Dodgy Bloke"
1534, "Prince Charles"
1535, "Hector Flushwit"
}
