STRINGTABLE
{
1536, "Stub"
1537, "Noggin"
1538, "Tebbitbreath"
1539, "Foul Stench"
1540, "Y Front"
1541, "Peuce"
1542, "Mucus"
1543, "Pustulous"
1544, "Spanner"
1545, "OK"
1546, "Prosím zadej své osobní údaje"
}
